
<!DOCTYPE html>
<html class="no-js" >
<head>
<title id='u_title' >Articles | imzah.com</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="fragment" content="!">
<meta name="description" content="wemater.org">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/pushy.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/app-font.css">
<link rel="stylesheet" href="/css/foundation.css">
<script src="https://use.fontawesome.com/1083451c67.js"></script>
<link rel="stylesheet" href="/css/jquery-ui.css">
		      
				
</head>
 
<body class="body">

  <div class=" user-wrapper">      
   <div class="your-articles small-12 large-11 medium-11 columns  ">
   </div>
  </div> <!-- user-wrapper end -->
    
 <footer class=" user-footer small-12 large-12 medium-12 columns">
  <i class="fa fa-copyright"></i><small>Copyright 2001-2014 wemater.org - All Rights Reserved </small>
</footer>
	<script src="/js/jquery-1.11.3.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/util.js"></script>
	<script  src="/js/commons.js"></script>
	<script async src="/js/userArticles.js"></script>

</body>
</html>
    